
@charset "UTF-8";
/* CSS Document */


/*
Google fonts
*/
@import url('https://fonts.googleapis.com/css2?family=B612&family=Crimson+Pro&display=swap');


*{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	background-color: white;
	color:white;
}

/* Zeroing out spacing *********************/
h1, h2, h3, h4, h5, h6, ul, li, a, blockquote {
    padding: 0;
    margin: 0;
    font-family: 'Bowlby One SC', cursive; 
	text-align: center;
}

/****** Header Section ********************/
header {
    background-color: mediumpurple;
   min-height: 250px;
     text-align:center;
}

header h1 {
    margin: 0;
    text-align: center;
    font-size: 10em;
    margin-top: -.2em;
    margin-bottom: -.6em;
     color:mediumslateblue;
     text-align:center;
}

header h2 {
    margin: 0;
    font-size: 3em;
    color: red;
    text-align: center;
    text-shadow: /*Adds FULL Drop Shadow around text */
        3px 3px 5px #11181E,
        -2px -2px 5px #11181E,
        2px -2px 5px #11181E,
        -2px 2px 5px #11181E,
        2px 2px 5px #11181E;
}

.firstE {
    color: #A68160;
}

.letterG {
    color: #E4F2EA;
}

.lastE {
    color: #A68160;
}

.hNav {
  text-align: center;
	padding: .8em;
}

.hNav ul {
    display: block;
    padding-left: 150px;
}

.hNav ul li {
    display: inline-block;
    list-style: none;
}

.hNav a {
    color:#E4F2EA;
    font-size: 1.7em;
    padding: 0 1.3em;
    text-decoration: none;
}

.hNav a:hover {
    color: #734F2F;
    text-decoration: underline;
}


main{
	width: 100%;
	min-height: 500px;
	background-color:white;
}

#container{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
	font-family: 'Crimson Pro', serif;
    background-color: white;
    color:black;
	
}

#container img{
	float: center;
	margin-right: 10%;
	border: 20px;
	border-radius: 10px;
	text-align: right;

}

h1{
	font-family: 'B612', sans-serif;
font-family: 'Crimson Pro', serif;
}

h2{
	font-family: 'B612', sans-serif;
font-family: 'Crimson Pro', serif;
}


blockquote{
	font-size: 3em;
	color: black;
	font-family: 'Crimson Pro', serif;
	margin-bottom: 0.1em;
}


table{
	
}



footer{
	min-height: 300px;
	background-color:black;
	text-align: center;
	color:purple;
    padding-top: 5%;
}

.fnav{
	width: 100%;
	background-color: purple;
	min-height: 20px;
	text-align: center;
	padding-bottom: .8em;
	
}



.fnav ul{
	display: block;
	padding-top: .8em;
	
}

.fnav a:hover{
	background-color: purple;
	color: #11181e;
}

/*Style rule for form element */
	form {
		background-color:black;
		padding: 1em;
		text-align: center;
		relative-position:up;		
		
	}
	
	/* Style rule for paragraph within form element */
	form p {
		color: purple;
	}

form ledgend{
	padding-right: 8em;
}

form ul{
	padding-left: 5em;
}

form li{
	padding-right: 16em;
	list-style-type: none;
}

form div{
	padding-right: 4em;
}

.img{
	width: 45%;
}
.text{
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
font-family: 'Crimson Pro', serif;
	text-align: right;
	vertical-align: text-top;
	font-size: 1.8em;
	
}

#social img{
	align-content: center;
}

.frame{

}
